<div id="search-component">
  <form class="form-inline my-2 my-lg-0">
    <ul class="search-result">
      <li *ngFor="let movie of movies$ | async">
        <a routerLink="/detail/{{movie.id}}">
          {{movie.title}}
        </a>
      </li>
    </ul>
  <input #searchBox id="search-box" class="form-control mr-sm-2" (keyup)="search(searchBox.value)" type="text" placeholder="Search Movie"
  aria-label="Search" />
  <input class="btn btn-outline-success my-2 my-sm-0" type="submit" placeholder="Search" />
  </form>
</div>